<div class="row hidden-xs" id="customerNAV">	
	<div class="hidden-xs">
		<div id="customerDP">
			<img src="{{userImageUrl}}" width="100%">
		</div>
		<p id="usernameStyle">{{username}}</p>
	</div>
		
	<div class="col-lg-1 col-xs-12" align="center">	</div>
	<div class="col-lg-2 col-xs-12" align="center"></div>
	<div class="col-lg-1 col-xs-12" align="center">
		<div class="wrapper">
			<a href="#" id="myAccount">
				<i class="fa fa-camera-retro fa-3x flip" style="padding: 10px;"></i><br><span class="controlText">Product Details</span>
			</a>
		</div>
	</div>
	<div class="col-lg-1 col-xs-12" align="center">
		<div class="wrapper">
			<a href="#" id="myAccount">
				<i class="fa fa-history fa-3x flip" style="padding: 10px;"></i><br>
				<span class="controlText">Transaction History</span>
			</a>
		</div>
	</div>
	
	<div class="col-lg-1 col-xs-12" align="center">
		<div class="wrapper">
			<a href="#" id="myAccount" >
				<i class="fa fa-power-off fa-3x flip" style="padding: 10px;"></i><br>
				<span class="controlText">Logout</span>
			</a>
		</div>
	</div>
</div>
<!-- <ul>
	<li *ngFor="#t of customer">
		<h3>{{t.category_name}}</h3>
	</li>
</ul>
 -->
